@tailwind base;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
  display: flex;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  width: 100%;
}

a,
button {
  cursor: pointer;
}

@tailwind components;

.custom-link {
  @apply font-medium leading-6;
}

.custom-link:after {
  @apply block scale-x-0 transform border-2 border-solid border-current transition-all duration-300 ease-in-out content-[""];
}

.custom-link:hover:after {
  @apply scale-100;
}

.custom-link.link-no-animation:hover:after {
  @apply scale-x-0;
}

.loading-text-shadow {
  text-shadow:
    2px 0 #009ddd,
    -2px 0 #009ddd,
    0 2px #009ddd,
    0 -2px #009ddd,
    1px 1px #009ddd,
    -1px -1px #009ddd,
    1px -1px #009ddd,
    -1px 1px #009ddd;
}

@tailwind utilities;
